<!DOCTYPE html>
<html lang="en">

  <head th:replace="admin/layout :: head"></head>

  <body>
    <div class="container-fluid">
      <div class="row g-0">
        <div th:replace="admin/layout :: navleft"></div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xxl-10
          content-column">
          <div class="container">
            <nav th:replace="admin/layout :: navtop"></nav>
            <!-- CODE HERE -->
            <div class="container">
              <h1>Account infomation</h1>
              <form th:object="${account}" method="post">
				  <input id="input-1" th:field="*{accountID}" style="display: none;"/>
				  <input id="input-1" th:field="*{permission.permissionID}" style="display: none;"/>
				  <input id="input-1" th:field="*{staff.staffID}" style="display: none;"/>
				  <input id="input-1" th:field="*{password}" style="display: none;"/>
                <div class="row mb-3" style="margin-bottom: 24px!important;">
                  <div class="col-sm-6">
                    <label for="email" class="form-label">Email</label>
                    <input th:field="*{email}" th type="email" class="form-control" id="email"
                      placeholder="example@example.com"
                      value="example@example.com">
                  </div>
                  <div class="col-sm-6">
                    <label for="fullname" class="form-label">Full name</label>
                    <input th:field="*{staff.fullname}" type="text" class="form-control" id="fullname"
                      placeholder="Nguyễn Văn A" value="Nguyễn Văn A">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-6 ">
                    <div class="mb-3">
                      <label for="text" class="form-label">Identify ID</label>
                      <input th:field="*{staff.cccd}" type="text" class="form-control" id="text"
                        placeholder="example@example.com"
                        value="example@example.com">
                    </div>
                    <div class="mb-3">
                      <label for="date" class="form-label">Birth</label>
                      <input type="date" class="form-control" id="date"
                        placeholder="example@example.com" name="bisss" th:value="*{staff.birth}"
                        value="example@example.com">
                    </div>
                    <div class="mb-3">
                      <label>Permission: </label><p th:text="*{permission.name}" for="dob" class="form-label">Permission</p>
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control" id="text"
                        placeholder="Enter new password" name="newpassword">
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label for="phone" class="form-label">Phone number</label>
                      <input th:field="*{staff.phone}" type="tel" class="form-control" id="phone"
                        placeholder="0123456789" value="0123456789">
                    </div>


                    <div class="mb-3">
                      <label for="gender" class="form-label">Sex</label>
                      <div class="form-check">
                        <input class="form-check-input" type="radio"
                          name="gender" th:checked="*{!staff.sex}"
                          id="male" value="male" checked>
                        <label class="form-check-label" for="male">
                          Nam
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio"
                          name="gender" th:checked="*{!staff.sex}"
                          id="female" value="female">
                        <label class="form-check-label" for="female">
                          Nữ
                        </label>
                      </div>

                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
              </form>
            </div>
            <!-- CODE HERE -->
          </div>
        </div>
      </div>
    </div>
    <script>
	var element = document.getElementById("create");
	element.classList.add("active");

	// Lọc sản phẩm theo danh mục
	function filterSelection(category) {
	  var products = document.getElementsByClassName("product");
	  if (category == "all") category = "";
	  for (var i = 0; i < products.length; i++) {
	    removeClass(products[i], "show");
	    if (products[i].className.indexOf(category) > -1) addClass(products[i], "show");
	  }
	}

	//
		
    </script>
  </body>

</html>