<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/layout :: head"></head>

<head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
   <div class="container-fluid">
      <div class="row g-0">
         <div th:replace="admin/layout :: navleft"></div>
         <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xxl-10 content-column">
            <div class="container">
               <nav th:replace="admin/layout :: navtop"></nav>
               <!-- CODE HERE -->
               	<div th:if="${not #strings.isEmpty(message)}" id="error-message2" class="alert alert-danger text-center" role="alert" th:text="${message}">
				    Tài khoản hoặc mật khẩu không chính xác!
	</div>
               <th:block th:if="${cartForm == null || cartForm.cartItems == null || cartForm.cartItems.empty}">
                  <h2>There is no items in Cart</h2>
                  <a th:href="@{/admin}">Show Product List</a>
               </th:block>
               <th:block th:if="${cartForm != null && cartForm.cartItems != null && !cartForm.cartItems.empty}">
                  <div class="row text-center" style="margin-top:12px;">
                     <div class="col-md-2"></div>
                     <div class="col-md-3"></div>
                     <div class="col-md-1"><h6>Price</h6></div>
                     <div class="col-md-2"><h6>Quantity</h6></div>
                     <div class="col-md-2"><h6>Total amount</h6></div>
                     <div class="col-md-2"><h6>Action</h6></div>
                  </div>
                  <form method="POST" th:object="${cartForm}" th:action="@{/admin/cart}" id="cart-form">
                     <div class="product-preview-container" th:each="cartItem, varStatus : ${cartForm.cartItems}">
                        <div class="d-flex align-items-center">
                           <div class="col-md-2"><img class="product-image"
                                 th:src="@{|/productImage?code=${cartItem.product.productID}|}" />
                           </div>
                           <div class="col-md-3">
                              <div>Product ID: <span th:utext="${cartItem.product.productID}"></span>
                                 <input type="hidden" th:name="|cartItems[${varStatus.index}].product.productID|"
                                    th:value="${cartItem.product.productID}" />
                              </div>
                              <div>
                                 <h4 th:utext="${cartItem.product.name}"></h4>
                              </div>
                         	<div>Quantity left in stock: <span th:utext="${cartItem.product.quantity}"></span>
                                 <input type="hidden"
                                    th:value="${cartItem.product.quantity}" />
                              </div>
                           </div>
                           <div class="col-md-1 text-center"><span class="price"
                                 th:text="${#numbers.formatDecimal(cartItem.product.price, 0, 'COMMA', 0, 'POINT')}+ ' VNĐ'">
                              </span></div>
                           <div class="col-md-2">
                                 <input th:name="|cartItems[${varStatus.index}].quantity|"
                                    th:value="${cartItem.quantity}" type="number"
                                    class="form-control input-quanty" id="quantity"/>
                           </div>
                           <div class="col-md-2 text-center">
                              <span class="subtotal" th:text="${#numbers.formatDecimal(cartItem.getAmount, 0, 'COMMA', 0, 'POINT')}+ ' VNĐ'">
                              </span>
                           </div>
                           <div class="col-md-2 text-center">
                              <a th:href="@{|/admin/cartRemoveProduct?code=${cartItem.product.productID}|}">
                                 Delete
                              </a>
                           </div>
                        </div>
                        <hr>
                     </div>
                     <div style="float:right; margin-right:24px;">
<!--                      	<input class="btn btn-outline-primary" type="submit" value="Update Quantity" /> -->
                     	<a class="btn btn-success" href="/admin/continuteOrder">Create order</a>
                     </div>
                  </form>
               </th:block>
            </div>
         </div>
      </div>
   </div>
   <script>
      var form = document.getElementById("search-form");
      form.remove();

      document.getElementById("nav-top").style.justifyContent = "flex-end";
	
	var add = document.getElementById("li-btn-add");
	
	add.classList.remove("disable");
	
	function foo(){
		return window.location.href='/admin'
	}

	document.querySelector('#btn-add').innerHTML = 'Add more product';

	/* event listener */
	document.getElementById("quantity").addEventListener('change', doThing);

	/* function */
	function doThing(){
		document.getElementById('cart-form').submit()
	}
   </script>
   <script th:src="@{/admin/js/scripts.js}"></script>
</body>

</html>