<!DOCTYPE html>
<html lang="en">

   <head th:replace="admin/layout :: head"></head>

   <head>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>

   <body>
      <div class="container-fluid">
         <div class="row g-0">
            <div th:replace="admin/layout :: navleft"></div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xxl-10
               content-column">
               <div class="container">
                  <nav th:replace="admin/layout :: navtop"></nav>
                  <!-- CODE HERE -->
                  
					<div class="card col-md-6 mx-auto m-5 p-5">
					
                  <form method="POST" th:object="${customer}"
                     th:action="@{/admin/continuteOrder}">
                     <div class="page-title" style="margin-bottom: 24px;"><h4>Enter Customer information</h4></div>
                     <div class="row">
                        <input id="id" class="form-control" th:field="*{customerID}" style="display: none;">
                        <input id="id" class="form-control" th:field="*{birth}" style="display: none;">
                        <input id="id" class="form-control" th:field="*{sex}" style="display: none;">
                        <div class="col-md-8">
                           <label for="fullname">Full name</label>
                           <input id="fullname" class="form-control"
                              th:field="*{fullname}">
                              											<div class="invalid-feedback"
												th:if="${#fields.hasErrors('fullname')}"
												th:errors="*{fullname}"></div>
                        </div>
                        <div class="col-md-4">
                           <label for="phone">Phone number</label>
                           <input id="phone" name="phone" class="form-control"
                              th:field="*{phone}" onblur="myFunction()"/>
                              <div class="invalid-feedback"
								th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <label for="address">Address</label>
                           <input id="address" class="form-control"
                              th:field="*{address}">
                        </div>
                     </div>
                     <div>
                        <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio"
                              id="male" name="gender" value="male" th:checked="${!customer.sex}">
                           <label class="form-check-label"
                              for="male">
                              Male
                           </label>
                        </div>
                        <div class="form-check form-check-inline">
                           <input class="form-check-input" type="radio" id="female" name="gender" value="female" th:checked="${customer.sex}">
                           <label class="form-check-label"
                              for="female" >
                              Female
                           </label>
                        </div>
											<div class="invalid-feedback"
												th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></div>
                     </div>
                     <button style="float: right;" class="btn btn-primary btn-lg btn-block"
                        type="submit">Save</button>
                  </form>
                  </div>
                  <!-- CODE HERE -->
               </div>
            </div>
         </div>
      </div>
      <script>

    var form = document.getElementById("search-form");
    form.remove();

    document.getElementById("nav-top").style.justifyContent = "flex-end";

    function myFunction(){
        var NameValue = document.getElementById('phone').value;
        window.open("/admin/checkCustomer?phone="+NameValue,"_self");
    }
  </script>
      <script th:src="@{/admin/js/scripts.js}"></script>
   </body>

</html>