<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/layout :: head"></head>

<body>
    <div class="container-fluid">
        <div class="row g-0">
            <div th:replace="admin/layout :: navleft"></div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xxl-10 content-column">
                <div class="container">
                	<nav th:replace="admin/layout :: navtop"></nav>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên</th>
                                <th scope="col">SĐT</th>
                                <th scope="col">Email</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>older</td>
                                <td>disappear</td>
                                <td>own</td>
                                <td><a href="#">test</a></td>
                                <td><a href="#">test</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>anything</td>
                                <td>light</td>
                                <td>duck</td>
                                <td><a href="#">test</a></td>
                                <td><a href="#">test</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/admin/js/scripts.js"></script>
    <script>
	var element = document.getElementById("customer");
	element.classList.add("active");
	
	var add = document.getElementById("cart-icon");
	
	add.classList.remove("disable");
	
	function foo(){
		return window.location.href='/admin/addcus'
	}
    </script>
</body>

</html>