<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/layout :: head"></head>

<body>
  <div class="container-fluid">
    <div class="row g-0">
      <div th:replace="admin/layout :: navleft"></div>
      <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xxl-10 content-column">
        <div class="container">
          <nav th:replace="admin/layout :: navtop"></nav>
          <!-- CODE HERE -->
          <div class="col-md-8 order-md-1 mx-auto">
            <h4 class="mb-3">Thêm sản phẩm</h4>
            <form class="needs-validation" name="addProduct" enctype="multipart/form-data" method="post" th:object="${product}">
              <div class="row">
                <div class="mb-3">
                  <label>Tên sản phẩm</label>
                  <input type="text" class="form-control" name="name" th:field="*{name}">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
              </div>

              <div class="row">
                <div class="mb-3 col-md-6">
                  <label>Giá sản phẩm</label>
                  <input type="number" class="form-control" th:field="*{price}" id="currency-field">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                </div>
                <div class="mb-3 col-md-2">
                  <label>Số lượng</label>
                  <input type="number" class="form-control" name="quantity" th:field="*{quantity}">
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
                </div>
              </div>
              <div class="mb-3">
                <label>Mô tả</label>
                <textarea class="form-control" id="desc" name="desc" rows="4" cols="50" th:field="*{description}"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-3">
                  <label>Danh mục</label>
                  <select class="custom-select d-block w-100" name="category" >
                    <option value="0">Choose...</option>
				    <option th:each="c : ${categories}" th:value="${c.categoryID}"
                            th:utext="${c.title}"/>
				    </option>
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                  <label>Nhà sản xuất</label>
                  <select class="custom-select d-block w-100" name="manu" >
                    <option value="0">Choose...</option>
				    <option th:each="m : ${manufacturers}" th:value="${m.manufacturerID}"
                            th:utext="${m.name}"/>
				    </option>
                  </select>
                </div>
              </div>
				<div class="upload__box">
				  <div class="upload__btn-box">
				    <label class="btn btn-success" id="btn-upload">
				      <p id="btn-upload-text">Upload images</p>
				      <input type="file" multiple="" data-max_length="20" class="upload__inputfile" name="images">
				    </label>
				  </div>
				  <div class="upload__img-wrap"></div>
				</div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Lưu</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>

    var form = document.getElementById("search-form");
    form.remove();

    document.getElementById("nav-top").style.justifyContent = "flex-end";
  </script>
  <script th:src="@{/admin/js/scripts.js}"></script>
</body>

</html>