<!DOCTYPE html>
<html lang="en">

   <head th:replace="admin/layout :: head"></head>

   <head>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>

   <body>
      <div class="container-fluid">
         <div class="row g-0">
            <div th:replace="admin/layout :: navleft"></div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xxl-10
               content-column">
               <div class="container">
                  <nav th:replace="admin/layout :: navtop"></nav>
                  <!-- CODE HERE -->
                  <h3>Thank you for Order</h3>
                  <!-- CODE HERE -->
               </div>
            </div>
         </div>
      </div>
      <script>

    var form = document.getElementById("search-form");
    form.remove();

    document.getElementById("nav-top").style.justifyContent = "flex-end";
  </script>
      <script th:src="@{/admin/js/scripts.js}"></script>
   </body>

</html>