<!DOCTYPE html>
<html lang="en">

   <head th:replace="admin/layout :: head"></head>

   <head>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>

   <body>
      <div class="container-fluid">
         <div class="row g-0">
            <div th:replace="admin/layout :: navleft"></div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xxl-10
               content-column">
               <div class="container">
                  <nav th:replace="admin/layout :: navtop"></nav>
                  <!-- CODE HERE -->
                  <div class="card" id="customer-info">
                     <div class="card-body">
                        <h5 class="card-title">Invoice information:</h5>
                        <div class="cart-text">
                        	<label class="d-inline">Code Bill: </label>
                        	<p class="d-inline" th:utext="${order.orderID}"></p>
                        </div>
                        <div class="card-text">
                           <label class="d-inline">Creation time: </label>
                           <p class="d-inline" th:text="${#dates.format(order.orderDate, 'dd-MM-yyyy HH:mm')}"></p>
                        </div>
                        <div class="card-text">
                           <label class="d-inline">Total order amount: </label>
                           <p class="d-inline" th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT')}+ ' VNĐ'"></p>
                        </div>
                     </div>

                  </div>
                  <div class="card" id="customer-info">
                     <div class="card-body">
                        <h5 class="card-title">Customer information:</h5>
                        <div class="cart-text">
                        	<label class="d-inline">Full name:</label>
                        	<p class="d-inline" th:utext="${order.customer.fullname}"></p>
                        </div>
                        <div class="card-text">
                           <label class="d-inline">Phone number: </label>
                           <p class="d-inline" th:utext="${order.customer.phone}"></p>
                        </div>
                        <div class="card-text">
                           <label class="d-inline">Address: </label>
                           <p class="d-inline" th:utext="${order.customer.address}"></p>
                        </div>
                     </div>

                  </div>
                  <h3>List of products</h3>
                     <div class="row">
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th scope="col">ID</th>
                                 <th scope="col">Name</th>
                                 <th scope="col">Quantity</th>
                                 <th scope="col">Amount</th>
                              </tr>
                           </thead>
                                                           
                           <tbody>
                              <tr th:each="orderItem,state:${order.orderItems}">
                                 <th th:text="${orderItem.product.productID}">1</th>
                                 <td th:text="${orderItem.product.name}">@mdo</td>
                                 <td th:text="${orderItem.quantity}">@mdo</td>
                                 <td th:text="${#numbers.formatDecimal(orderItem.amount, 0, 'COMMA', 0, 'POINT')}+ ' VNĐ'">Otto</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
               </div>
            </div>
         </div>
      </div>
      <script>
    	var element = document.getElementById("order");
    	element.classList.add("active");
    	
          var form = document.getElementById("search-form");
          form.remove();

          document.getElementById("nav-top").style.justifyContent = "flex-end";
	
	function foo(){
		return window.location.href='/admin'
	}
   </script>
      <script th:src="@{/admin/js/scripts.js}"></script>
   </body>

</html>