<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/layout :: head"></head>

<body>
  <div class="container-fluid">
    <div class="row g-0">
      <div th:replace="admin/layout :: navleft"></div>
      <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xxl-10 content-column">
        <div class="container">
        <nav th:replace="admin/layout :: navtop"></nav>
          <!-- CODE HERE -->
            <div th:if="${not #strings.isEmpty(message)}"
              data-bs-animation="autohide" class="position-fixed top-1 end-0 p-3
              " style="z-index:
              11">
              <div id="liveToast" class="toast align-items-center text-white
                bg-success border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                  <div class="toast-body" th:text="${message}">
                    Hello, world! This is a toast message.
                  </div>
                  <button type="button" class="btn-close btn-close-white me-2
                    m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
              </div>
            </div>
            <div class="container">
<form th:action="@{/admin/product}" method="get">
   <div class="row">
       <div class="col">
           <label for="category">Category:</label>
           <select id="category" name="category" class="form-control">
               <option value="">-- Select category --</option>
               <option th:each="c : ${category}" th:value="${c.categoryID}" th:text="${c.title}" th:selected="${c.categoryID == selectedCategory}"></option>
           </select>
       </div>
		<div class="col">
		   <label for="manufacturer">Manufacturer:</label>
		   <select id="manufacturer" name="manufacturer" class="form-control">
		       <option value="">-- Select manufacturer --</option>
		       <option th:each="m : ${manufactor}" th:value="${m.manufacturerID}" th:text="${m.name}" th:selected="${m.manufacturerID == selectedManufacturer}"></option>
		   </select>
		</div>
       <div class="col">
           <label for="price">Price:</label>
           <select id="price" name="price" class="form-control">
	       <option value="asc" th:selected="${price == 'asc'}">Price ascending</option>
	       <option value="desc" th:selected="${price == 'desc'}">Price descending</option>
           </select>
       </div>
       <div class="col">
           <label for="name">Name:</label>
           <select id="name" name="name" class="form-control">
               <option value="asc" th:selected="${name == 'asc'}">Name A-Z</option>
               <option value="desc" th:selected="${name == 'desc'}">Name Z-A</option>
           </select>
       </div>
       <div class="col">
           <button type="submit" class="btn btn-primary mt-4" >Lọc</button>
       </div>
   </div>
</form>
            </div>   
          <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-11">
            <!-- loop -->
              <div class="card shadow-0 border rounded-3" id="product-item" th:each="product,state:${productPage.content}">
                <div class="card-body" >
                  <div class="row product-list" >
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                      <div class="bg-image hover-zoom ripple rounded ripple-surface">
                        <img th:src="@{|/productImage?code=${product.productID}|}"
                          class="w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <h5 th:text="${product.name}">Quant trident shirts</h5>
                      <div class="mt-1 mb-0 text-muted small">
                        <span>Product ID: </span>
                        <span th:text="${product.productID}">Số lương: </span>
                        <br>
                      	<span th:if="${product.quantity>0}">
                      	<span>Available: </span>
                        <a  th:text="${product.quantity}">Số lương: </a>
                      	</span>
						<span th:if="${product.quantity==0}" class="text-danger">Product out of stock</span>
                        <br>
                        <span th:if="${!product.status}" class="text-danger" id="productDisable">Product is disable</span>
                      </div>
                      <p class="mb-4 mb-md-0" th:text="${#strings.abbreviate(product.description,200)}">
                        There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or
                        randomised words which don't look even slightly believable.
                      </p>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h4 class="mb-1 me-1" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}+ ' VNĐ'">$13.99</h4>
                      </div>
                      <div class="d-flex flex-column mt-4">
                        <a class="btn btn btn-info btn-sm" role="button" th:href="@{/admin/productDetail(id=${product.productID})}" >Detail</a>
                        <a class="btn btn-warning btn-sm mt-2" role="button" th:href="@{/admin/editproduct(id=${product.productID})}">Edit</a>
                        <a class="btn btn-danger btn-sm mt-2" role="button" id="btn-disableProduct" th:if="${product.status}" data-bs-toggle="modal" th:attr="data-bs-target='#confirmModal'+${product.productID }">Disable</a>
                        <a class="btn btn-danger btn-sm mt-2" role="button" id="btn-disableProduct" th:if="${!product.status}" data-bs-toggle="modal" th:attr="data-bs-target='#confirmModal'+${product.productID }">Enable</a>
                      </div>
		              <div class="modal fade" id="confirmModal" th:id="'confirmModal'+${product.productID }" tabindex="-1"
		              aria-labelledby="confirmModalLabel" aria-hidden="true">
		              <div class="modal-dialog">
		                <div class="modal-content">
		                  <div class="modal-header">
		                    <h5 th:if="${!product.status}" class="modal-title" id="confirmModalLabel" >Enable product</h5>
		                    <h5 th:if="${product.status}" class="modal-title" id="confirmModalLabel" >Disable product</h5>
		                    <button type="button" class="btn-close"
		                      data-bs-dismiss="modal" aria-label="Close"></button>
		                  </div>
							<div th:if="${!product.status}" class="modal-body" th:text="'Are you sure you want to enable product '+${product.name}"></div>
							<div th:if="${product.status}" class="modal-body" th:text="'Are you sure you want to disable product '+${product.name}"></div>
		                  <div class="modal-footer">
		                    <button type="button" class="btn btn-secondary"
		                      data-bs-dismiss="modal">Cancel</button>
		                    <a th:href="@{/admin/deleteProduct(id=${product.productID})}" type="button" class="btn btn-primary"
		                      id="confirmButton">Confirm</a>
		                  </div>
		                </div>
		              </div>
		            </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- loop -->
            </div>
          </div>
          <!-- page number -->
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-sm">
                <li  th:if="${productPage.totalPages > 0}" class="page-link"
                      th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/admin/product(size=${productPage.size}, page=${pageNumber})}"
                       th:text=${pageNumber}
                       th:class="${pageNumber==productPage.number + 1} ? active"
                       class="page-link"
                    ></a>
                </li>
            </ul>
        </nav>
        <!-- CODE HERE -->
        </div>
      </div>
    </div>
  </div>
  <script>
	var element = document.getElementById("product");
	element.classList.add("active");
	
	var add = document.getElementById("li-btn-add");
	
	add.classList.remove("disable");
	
	function foo(){
		return window.location.href='/admin/addproduct'
	}
	window.onload = (event) => {
		  let myAlert = document.querySelectorAll('.toast')[0];
		  if (myAlert) {
		    let bsAlert = new bootstrap.Toast(myAlert);
		    bsAlert.show();
		  }
		};
	document.querySelector('#btn-add').innerHTML = 'Create product';
    </script>
</body>

</html>