<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body>
<div id="wrapper" class="wrapper clearfix">
	<header th:replace="layout :: header"></header>
	<section id="hero" class="hero hero-3">
		<div id="hero-slider" class="hero-slider">
			<!-- Slide #1 -->
			<div class="slide bg-overlay">
				<div class="bg-section">
					<img src="./images/sliders/4.jpg" alt="Background"/>
				</div>
				<div class="container vertical-center">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
							<div class="slide-content">
								<div class="slide-heading"> The Best Theme For Auto Shops </div>
								<div class="slide-title">
									<h2>Say Hello To <span class="color-theme">Car Shop !</span></h2>
								</div>
								<div class="slide-desc"> Car Shop is a business theme. Perfectly suited for Auto Mechanic, Car Repair Shops, Car Wash, Garages, Automobile Mechanicals, Mechanic Workshops, Auto Painting, Auto Centres. </div>
							</div>
						</div>
						<!-- .col-md-12 end -->
					</div>
					<!-- .row end -->
				</div>
				<!-- .container end -->
			</div>
			<!-- .slide end -->
			
			<!-- Slide #2 -->
			<div class="slide bg-overlay">
				<div class="bg-section">
					<img src="./images/sliders/1.jpg" alt="Background"/>
				</div>
				<div class="container vertical-center">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
							<div class="slide-content">
								<div class="slide-icon">
									<i class="icon icon-Settings"></i>
								</div>
								<div class="slide-heading"> The Best Theme For Auto Shops </div>
								<div class="slide-title">
									<h2>Say Hello To <span class="color-theme">Car Shop !</span></h2>
								</div>
								<div class="slide-desc"> Car Shop is a business theme. Perfectly suited for Auto Mechanic, Car Repair Shops, Car Wash, Garages, Automobile Mechanicals, Mechanic Workshops, Auto Painting, Auto Centres. </div>
								<div class="slide-action">
									<a class="btn btn-primary" href="#">Check It Now</a>
									<a class="btn btn-primary btn-white" href="#">Purchase Now</a>
								</div>
							</div>
						</div>
						<!-- .col-md-12 end -->
					</div>
					<!-- .row end -->
				</div>
				<!-- .container end -->
			</div>
			<!-- .slide end -->
			
			<!-- Slide #3 -->
			<div class="slide bg-overlay">
				<div class="bg-section">
					<img src="./images/sliders/7.jpg" alt="Background"/>
				</div>
				<div class="container vertical-center">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
							<div class="slide-content">
								<div class="slide-heading"> The Best Theme For Auto Shops </div>
								<div class="slide-title">
									<h2>Say Hello To <span class="color-theme">Car Shop !</span></h2>
								</div>
								<div class="slide-desc"> Car Shop is a business theme. Perfectly suited for Auto Mechanic, Car Repair Shops, Car Wash, Garages, Automobile Mechanicals, Mechanic Workshops, Auto Painting, Auto Centres. </div>
								<div class="slide-action">
									<a class="btn btn-primary" href="#">Check It Now</a>
								</div>
							</div>
						</div>
						<!-- .col-md-12 end -->
					</div>
					<!-- .row end -->
				</div>
				<!-- .container end -->
			</div>
			<!-- .slide end -->
		</div>
		<!-- #hero-slider end -->
	</section>
	<!-- #hero -->
	
	<!-- Shop product grid right sidebar
============================================= -->
<section id="shopgrid" class="shop shop-grid">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 sidebar">
				<!-- Categories
============================================= -->
				<div class="widget widget-categories">
					<div class="widget-title">
						<h5>categories</h5>
					</div>
					<div class="widget-content">
						<ul class="list-unstyled">
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>opel<span>(5)</span></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>Subaru<span>(77)</span></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>BMW<span>(6)</span></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>Toyota<span>(11)</span></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>Audi<span>(54)</span></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-angle-double-right"></i>Chevrolet<span>(22)</span></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- .widget-categories end -->
				
				<!-- Recent Products
============================================= -->
				<div class="widget widget-recent-products">
					<div class="widget-title">
						<h5>Recent Items</h5>
					</div>
					<div class="widget-content">
						<!-- Product #1 -->
						<div class="product">
							<img src="./images/shop/thumb/4.jpg" alt="product"/>
							<div class="product-desc">
								<div class="product-title">
									<a href="#">Front LIGHTING</a>
								</div>
								<div class="product-meta">
									<span class="color-theme">$13.99</span>
								</div>
							</div>
						</div>
						<!-- .recent-product end -->
						
						<!-- Product #2 -->
						<div class="product">
							<img src="./images/shop/thumb/5.jpg" alt="product"/>
							<div class="product-desc">
								<div class="product-title">
									<a href="#">Thermal Fan</a>
								</div>
								<div class="product-meta">
									<span class="color-theme">$15.99</span>
								</div>
							</div>
						</div>
						<!-- .recent-product end -->
						
						<!-- Product #3 -->
						<div class="product">
							<img src="./images/shop/thumb/6.jpg" alt="product"/>
							<div class="product-desc">
								<div class="product-title">
									<a href="#">Cold Air System</a>
								</div>
								<div class="product-meta">
									<span class="color-theme">$11.99</span>
								</div>
							</div>
						</div>
						<!-- .recent-product end -->
					</div>
					<!-- .widget-content end -->
				</div>
				<!-- .widget-recent-product end -->
				
				<!-- Filter
============================================= -->
				<div class="widget widget-filter">
					<div class="widget-title">
						<h5>Filter By Price</h5>
					</div>
					<div class="widget-content">
						<div id="slider-range"></div>
						<p>
							<label for="amount">Price: </label>
							<input type="text" id="amount" readonly>
						</p>
						<a class="btn btn-secondary" href="#">filter</a>
					</div>
				</div>
				<!-- .widget-filter end -->
				
				<!-- Select Brand
============================================= -->
				<div class="widget widget-brands">
					<div class="widget-title">
						<h5>Brands</h5>
					</div>
					<div class="widget-content">
						<form>
							<!-- Check #1 -->
							<div class="check-option">
								<input type="checkbox" class="checkbox-style" name="brands"   id="Opel" value="Opel">
								<label for="Opel" class="checkbox-label" >Opel <span>(5)</span></label>
							</div>
							<!-- Check #2 -->
							<div class="check-option">
								<input type="checkbox" class="checkbox-style" name="brands"  id="Subaru" value="Subaru">
								<label for="Subaru" class="checkbox-label" >Subaru <span>(77)</span></label>
							</div>
							<!-- Check #3 -->
							<div class="check-option">
								<input type="checkbox" class="checkbox-style" name="brands" id="BMW" value="BMW">
								<label for="BMW" class="checkbox-label" >BMW <span>(16)</span></label>
							</div>
							<!-- Check #4 -->
							<div class="check-option">
								<input type="checkbox" class="checkbox-style" name="brands"   id="Toyota" value="Toyota">
								<label for="Toyota" class="checkbox-label" >Toyota <span>(11)</span></label>
							</div>
							<!-- Check #5 -->
							<div class="check-option">
								<input type="checkbox" class="checkbox-style" name="brands"   id="Audi" value="Audi">
								<label for="Audi" class="checkbox-label" >Audi <span>(54)</span></label>
							</div>
							<!-- Check #6 -->
							<div class="check-option">
								<input type="checkbox" class="checkbox-style" name="brands"   id="Chevrolet" value="Chevrolet">
								<label for="Chevrolet" class="checkbox-label" >Chevrolet <span>(22)</span></label>
							</div>
						</form>
					</div>
				</div>
				<!-- .widget-brand end -->
				
				<!-- Recent Products
============================================= -->
				<!-- .widget-recent-product end -->
				
				<!-- Tag Clouds
============================================= -->
				<!-- .widget-tags end -->
			</div>
			<!-- .col-md-3 end -->
			<div class="col-xs-12 col-sm-12 col-md-9">
				<div class="row">
					<div class="col-xs-12  col-sm-12  col-md-12">
						<div class="shop-options">
							<div class="product-options2 pull-left pull-none-xs">
								<ul class="list-inline">
									<li>
										<div class="product-sort mb-15-xs">
											<span>sort by:</span>
											<i class="fa fa-angle-down"></i>
											<select>
												<option selected="" value="Default">Product Name</option>
												<option value="Larger">Newest Items</option>
												<option value="Larger">oldest Items</option>
												<option value="Larger">Hot Items</option>
												<option value="Small">Highest Price</option>
												<option value="Medium">Lowest Price</option>
											</select>
										</div>
									</li>
									<li>
										<div class="product-sort">
											<span>Show:</span>
											<i class="fa fa-angle-down"></i>
											<select>
												<option selected="" value="10">10 items / page</option>
												<option value="25">25 items / page</option>
												<option value="50">50 items / page</option>
												<option value="100">100 items / page</option>
											</select>
										</div>
									</li>
								</ul>
							</div>
							<!-- .product-options end -->
							<div class="product-view-mode text-right pull-none-xs">
								<span>view as:</span>
								<a class="active" href="#"><i class="fa fa-th-large"></i></a>
								<a href="#"><i class="fa fa-th-list"></i></a>
							</div>
							<!-- .product-num end -->
						</div>
						<!-- .shop-options end -->
					</div>
					<!-- .col-md-12 end -->
				</div>
				<!-- .row end -->
				<div class="row">
					<!-- Product #1 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/1.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Opel</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Brake Discs</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>68.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #2 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/2.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Subaru</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">OIL FILTER</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>40.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #3 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/3.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Opel</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Belt Car Engine</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>180.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #4 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/4.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Bmw</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Front LIGHTING</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>28.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #5 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/5.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Audi</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Thermal Fan</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>240.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #6 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/6.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Toyota</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Cold Air System</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>68.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #7 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/1.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Opel</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Brake Discs</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>68.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #8 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/2.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Subaru</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">OIL FILTER</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>40.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #9 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/3.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Opel</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Belt Car Engine</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>180.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #10 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/4.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Bmw</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Front LIGHTING</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>28.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #11 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/5.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Audi</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Thermal Fan</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>240.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
					<!-- Product #12 -->
					<div class="col-xs-12 col-sm-6 col-md-4 product">
						<div class="product-img">
							<img  src="./images/shop/grid/6.jpg" alt="Product"/>
							<div class="product-hover">
								<div class="product-action">
									<a class="btn btn-primary" href="#">Add To Cart</a>
									<a class="btn btn-primary" href="#">Item Details</a>
								</div>
							</div>
							<!-- .product-overlay end -->
						</div>
						<!-- .product-img end -->
						<div class="product-bio">
							<div class="prodcut-cat">
								<a href="#">Toyota</a>
							</div>
							<!-- .product-cat end -->
							<div class="prodcut-title">
								<h3>
									<a href="#">Cold Air System</a>
								</h3>
							</div>
							<!-- .product-title end -->
							<div class="product-price">
								<span class="symbole">$</span><span>68.00</span>
							</div>
							<!-- .product-price end -->
							
						</div>
						<!-- .product-bio end -->
					</div>
					<!-- .product end -->
					
				</div>
				<!-- .row end -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<ul class="pagination">
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#" aria-label="Next">
								<span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
								</a>
							</li>
						</ul>
					</div>
					<!-- .col-md-12 end -->
				</div>
			</div>
			<!-- .col-md-9 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
	<!-- #shopgrid end -->
	<footer th:replace="layout :: footer"></footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script src="./js/jquery-2.2.4.min.js"></script>
<script src="./js/plugins.js"></script>
<script src="./js/functions.js"></script>
</body>
</html>