<!DOCTYPE html>

<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
<title > Chi Tiet San Pham</title>
<!-- Document Meta============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="zytheme" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="construction html5 template">
<link href="./images/favicon/favicon.ico" rel="icon">

<!-- Fonts============================================= -->
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CUbuntu:300,300i,400,400i,500,500i,700,700i'
	rel='stylesheet' type='text/css'>

<!-- Stylesheets============================================= -->
<link href="../static/css/external.css" rel="stylesheet"
	th:href="@{/css/external.css}">
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
<link href="../static/css/style.css" rel="stylesheet"
	th:href="@{/css/style.css}">
<link href="../static/css/custom.css" rel="stylesheet"
	th:href="@{/css/custom.css}">

<!-- Javascript============================================= -->
<script src="../static/js/bootstrap.min.js"></script>
 <script src="../static/js/jquery-2.2.4.min.js"></script>
	<script src="../static/js/functions.js"></script>
	<script src="../static/js/plugins.js"></script>
	

</head>

<body>
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
<header th:replace="layout :: header"></header>
	<section id="shopgrid" class="shop shop-single">
		<div class="container shop-content">

<!-- 			cái này sửa để khi add sp vô giỏ thì hiện lên hoặc làm dialog giống shoppe cho dễ -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-xs-12 col-sm-12 col-md-12"> -->
<!-- 					Alert Message -->
<!-- 					<div class="alert"> -->
<!-- 						<div class="alert-icon"> -->
<!-- 							<i class="fa fa-check-circle"></i> -->
<!-- 						</div> -->
<!-- 						<div class="alert-content"> -->
<!-- 							<h4>Item Was Successfully Added To Your Cart.</h4> -->
<!-- 							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					.aret end -->
<!-- 				</div> -->
<!-- 			</div> -->
			<!-- .row end -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-5">
					<div class="prodcut-images">
						<div class="product-img-slider">
							<img src="./images/shop/full/1.jpg" alt="product image">
							<img src="./images/shop/full/2.jpg" alt="product image">
							<img src="./images/shop/full/3.jpg" alt="product image">
							<img src="./images/shop/full/4.jpg" alt="product image">
							<img src="./images/shop/full/3.jpg" alt="product image">
						</div>
						<div class="product-img-nav">
							<img src="./images/shop/full/5.jpg" alt="product image">
							<img src="./images/shop/full/6.jpg" alt="product image">
							<img src="./images/shop/full/7.jpg" alt="product image">
							<img src="./images/shop/full/8.jpg" alt="product image">
							<img src="./images/shop/full/7.jpg" alt="product image">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7">
					<div class="product-title text-center-xs">
						<h3>${product.name}</h3>
					</div>
					
					<div class="product-price pull-left pull-none-xs">
						<p>"${product.price}"</p>
					</div>
					<br>
					<br>
					<div class="product-desc text-center-xs">
						<p class="mb-0">   ${product.description}</p>
					</div>
					<!-- .product-desc end -->
					
					<hr class="mt-30 mb-30">
					<div class="product-details text-center-xs">
						<h5>Other Details :</h5>
						<ul class="list-unstyled">
							<li>Product : <span>${product.name}</span></li>
							<li>name : <span>${product.name}</span></li>
							<li>price : <span>${product.price}</span></li>
							<li>description : <span>${product.description}</span></li>
							<li>quantity : <span>${product.quantity}</span></li>
							
						</ul>
					</div>
					<!-- .product-details end -->
					<hr class="mt-30 mb-30">
					<div class="product-action">
						<div class="product-quantity pull-left pull-none-xs">
							<span class="qua">Quantity:</span>
							<span>
							<a href="#"><i class="fa fa-minus"></i></a>
							<input type="text" value="${product.quantity}" id="pro-qunt" readonly>
							<a href="#"><i class="fa fa-plus"></i></a>
							</span>	
						</div>
					</div>
					<a class="btn btn-primary btn-add-cart" href="#">add to cart</a>
					<hr class="mt-30 mb-30">
					<div class="product-share  text-center-xs">
						<h5 class="share-title">share product: </h5>
						<a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="share-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
						<a class="share-pinterest" href="#"><i class="fa fa-pinterest"></i></a>
						<a class="share-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
					</div>
					<!-- .product-share end -->
				</div>
			</div>
			<!-- .row end -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="product-tabs">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#description" aria-controls="description" role="tab" data-toggle="tab">description</a>
							</li>
						</ul>
						
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="description">
								<p>Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque, nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio.</p>
								<p>Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque, nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio.</p>
							</div>
							<!-- #description end -->
							<!-- #details end -->
							<!-- #reviews end -->
						</div>
						<!-- #tab-content end -->
					</div>
					<!-- .product-tabs end -->
				</div>
			</div>
			<!-- .row end -->
			<br>
			<!-- .product-related end -->
		</div>
		<!-- .container end -->
	</section>
	<!-- #blog end -->
	
	<footer th:replace="layout :: footer"></footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script src="./js/jquery-2.2.4.min.js"></script>
<script src="./js/plugins.js"></script>
<script src="./js/functions.js"></script>
</body>
</html>