<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body>
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="wrapper clearfix">
		<header th:replace="layout :: header"></header>
		<section id="register" class="register">
			<div class="container">
				<div class="row">
					<div class="col-xs-4  col-sm-4  col-md-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4">
						<div class="modal-body">
							<h6>Register</h6>
							<div class="register-form">
								<form class="mb-0" action="/checkregister" id="register">
									<div class="form-group">
										<input type="text" class="form-control" id="email" name="email" placeholder="Email">
										<span class ="form-message"></span>
									</div>
									<div class="form-group">
										<input type="password" class="form-control" id="password" name="password" placeholder="Password">
										<span class ="form-message"></span>
									</div>
									<div class="form-group">
										<input type="password" class="form-control" id="password_confirmation" name="password_confirmation"
											placeholder="Confirm Password">
											<span class ="form-message"></span>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox">
											I Agree To
											<a href="#">The Terms Of Use ?</a>
											<p style="color: red" th:text="${ERROR}"></p>
										</label>
									</div>
									<button type="submit" class="btn btn-primary btn-block mt-30">Register</button>
								</form>
								<div class="form-links text-center">
									<a href="login">Have an account? Login Here</a>
								</div>
							</div>
						</div>
					</div>
					<!-- .col-md-12 end -->
				</div>
				<!-- .row end -->
			</div>
			<!-- .container end -->
		</section>
		<!-- #register end -->

		<footer th:replace="layout :: footer"></footer>

	</div>
	<script>
    	document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
          form: '#register',
          formGroupSelector: '.form-group',
          errorSelector: '.form-message',
          rules: [
            Validator.isRequired('#username', 'Vui lòng nhập tên đầy đủ của bạn'),
            Validator.isEmail('#email'),
            Validator.minLength('#password', 6),
            Validator.isRequired('#password_confirmation'),
            Validator.isConfirmed('#password_confirmation', function () {
              return document.querySelector('#register #password').value;
            }, 'Mật khẩu nhập lại không chính xác')
          ],
        });
      });
      
    </script>
    <script src="./js/validator.js"></script>
	<!-- #wrapper end -->

	<!-- Footer Scripts
============================================= -->
	<script src="./js/jquery-2.2.4.min.js"></script>
	<script src="./js/plugins.js"></script>
	<script src="./js/functions.js"></script>
</body>

</html>