<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>
<body>
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
	<header th:replace="layout :: header"></header>
	<section id="register" class="register"></section>
	<!-- 	code here -->
	<!-- 	end code -->
	<footer th:replace="layout :: footer"></footer>
	<footer th:replace="layout :: footer"></footer>
</div>
	<script src="./js/jquery-2.2.4.min.js"></script>
	<script src="./js/plugins.js"></script>
	<script src="./js/functions.js"></script>
</body>

</html>