
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container-fluid{
    --bs-gutter-x: 0 !important;
}
.side-panel{
    background: #EEF2FF;
    height: 100vh;
    border-radius: 3px;
    padding: 20px 0px;
}
.side-panel .header-logo{
    margin-bottom: 20px;
    
}
.side-panel .header-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.side-panel .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #fff;
    color: #000;
    margin: 0;
    border-radius: 0;
    padding-left: 25px;
    border-left: 5px solid #2667FF;
}
.side-panel .nav-item .nav-link{
    padding-left: 30px;
    font-weight: 600;
    color: #2667FF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.side-panel .nav-item .nav-link svg{
    padding-right: 10px;
}
.side-panel .nav-item{
    margin-top: 5px;
  
}

/* =============================================== */
.main-board{
    width: 100%;
    padding: 10px;
    background-color: #fdfbfb;
    margin-top: 20px;
    border-radius: 5px;
}
.main-board .status{
    margin-bottom: 30px;
}
.main-board .status .card{
    padding: 0;
}
.main-board .status .card-one{
    padding: 10px 20px;
    border-radius: 3px;
    border: 0;
    background-color: #eef3ff;
    border-left: 5px solid #2667FF;
}
.main-board .status .card-one h3{
    font-size: 42px;
}
.main-board .status .card-two{
    padding: 10px 20px;
    border-radius: 3px;
    border: 0;
    background-color: #fff0d3;
    border-left: 5px solid #FFA500;
}
.main-board .status .card-two h3{
    font-size: 42px;
}
.main-board .status .card-three{
    padding: 10px 20px;
    border-radius: 3px;
    border: 0;
    background-color: #e5ceff;
    border-left: 5px solid #7900FF;
}
.main-board .status .card-three h3{
    font-size: 42px;
}
.main-board .head-show{
    margin-bottom: 30px;
}
.main-board .avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px;
  }
  
  a:link, a:visited {
  text-decoration: none;
  cursor: auto;
}

#cart-icon{
	margin-right:50px;
}
#li-btn-add{
	margin-right:50px;
}

.disable{
	display:none!important;
}

.invalid-feedback{
	display:inline;
}

#product-item{
	margin-top:12px;
}

.page-link{
	margin-right:12px;
}
 .upload__inputfile {
	 width: 0.1px;
	 height: 0.1px;
	 opacity: 0;
	 overflow: hidden;
	 position: absolute;
	 z-index: -1;
}
 .upload__img-wrap {
	 display: flex;
	 flex-wrap: wrap;
	 margin: 0 -10px;
}
 .upload__img-box {
	 width: 200px;
	 padding: 0 10px;
	 margin-bottom: 12px;
}
 .upload__img-close {
	 width: 24px;
	 height: 24px;
	 border-radius: 50%;
	 background-color: rgba(0, 0, 0, 0.5);
	 position: absolute;
	 top: 10px;
	 right: 10px;
	 text-align: center;
	 line-height: 24px;
	 z-index: 1;
	 cursor: pointer;
}
 .upload__img-close:after {
	 content: '\2716';
	 font-size: 14px;
	 color: white;
}
 .img-bg {
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 position: relative;
	 padding-bottom: 100%;
}
#btn-upload-text{
	margin-bottom:0;
}
#btn-upload{
	margin-bottom:12px;
}
#product-image{
	display:flex;
 	flex-wrap: wrap;
 	margin-bottom:12px;
}
#item-image{
	width: 100px;
	height: 100px;
}

.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
    margin-right:12px;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}

#addCategory{
	margin-left:12px;
}

.product-image{
	height:120px;
	margin:0 12px;
}
.input-quanty{
width:5rem;
position: relative;
display: block;
margin : 0 auto;
text-align:center;
}
#customer-info{
	margin-bottom:24px;
}
